body {
    background: lightblue;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.song-container {
    margin: 10px 25%;
    width: 50%;
}
h1, h3{
    margin: 0;
}
h3 {
    font-style: italic;
}
